body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: hsl(229, 57%, 11%);
    font-family: 'Raleway', sans-serif;
}


.bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.all {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    bottom: 70px;
    right: 30px;
}

.first {
    border-radius: 12px 40% 12px 12px;
    width: 310px;
    height: 200px;
    background-color: hsl(228, 56%, 26%);
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding-left: 45px;
}

.iconsection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon {
    background-color: hsl(229, 57%, 11%);
    border-radius: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
    cursor: pointer;
}

.icon:hover {
    background-color: white;
}

.second {
    background-color: hsl(228, 56%, 26%);
    border-radius: 12px;
    width: 560px;
    height: 150px;
    position: relative;
    top: 25px;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 33px;
}

.whitecircle {
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 2px;
}

.rangevalue {
    background-image: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 14px;
    width: 75%;
    border-radius: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.range {
    background-color: hsla(229, 57%, 11%, 0.6);
    width: 80%;
    height: 20px;
    border-radius: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4px;
}

p {
    color: hsl(243, 100%, 93%);
    font-size: 14px;
}

.GB {
    color: white;
    font-weight: 700;
}

.values {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.speechbubble {
    position: absolute;
    z-index: 200;
    width:190px;
    height: 75px;
    background-color: white;
    border-radius: 9px 9px 0 9px;
    top: -50px;
    left: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.sb:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 20px solid #ffffff;
    border-top: 10px solid #ffffff;
    border-bottom: 20px solid transparent;
    right: 0;
    bottom: -30px;
  }

.gb185 {
    color: black;
    font-weight: 700;
    font-size: 40px;
}
.gbleft {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: hsl(229, 7%, 55%);
}

@media (max-width: 1004px){
    .all {
        flex-direction: column;
    }
    .second{
        width: 500px;
    }
    .speechbubble {
        top: -50px;
        left: 250px;
    }
}
@media (max-width: 490px){
    .bg {
        opacity: 0;
    }
    .all {
        width: 100vw;
        background-image: url("images/bg-mobile.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: contain;

    }
}